.background {
	background-image:
		url('http://www.molecube.ca/img/cardbox_background.png');
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

img {
	border: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

a {
	border: 0;
	text-decoration: none;
	color: inherit;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

@font-face {
	font-family: Dakota;
	src: url('http://www.molecube.ca/fonts/Dakota.ttf');
}

@font-face {
	font-family: Copse;
	src: url('http://www.molecube.ca/fonts/Copse.ttf');
}

img#switcher {
	float: right;
	margin-top: 30px;
}

div#header_card {
	position: relative;
	margin-top: 90px;
	width: 954px;
	height: 376px;
	background-image: url('http://www.molecube.ca/img/header_card.png');
	background-repeat: no-repeat;
}

p#greetings {
	width: 50%;
	float: right;
	line-height: 28px;
	position: relative;
	top: -148px;
	left: -62px;
	font-size: 20px;
	font-family: Copse, verdana, sans-serif;
	display: block;
	letter-spacing: -1px;
	font-weight: thin;
}

div#logo_holder {
	height: 203px;
	width: 299px;
	display: inline-block;
	position: relative;
	top: -120px;
}

img#stamp {
	display: none;
	position: absolute;
	bottom: 500px;
}

img#games_are_fun {
	position: relative;
	right: 10px;
	top: -50px;
	z-index: -1;
}

p#greetings a {
	color: #0197b2;
	outline: none;
	text-decoration: none;
}

img#iphone_hello {
	position: relative;
	left: 70px;
	top: -140px;
	float: left;
}

div#game {
	margin-top: 50px;
	width: 960px;
	height: 600px;
	background-image: url('http://www.molecube.ca/img/games_background.png');
	background-repeat: no-repeat;
	position: relative;
}

img#games_header {
	position: relative;
	top: -32px;
	display: block;
}

div#game_pictures {
	width: 361px;
	height: 473px;
	background-image:
		url('http://www.molecube.ca/img/game_picturebackground.png');
	float: left;
	margin-top: 0;
	margin-left: 50px;
	position: relative;
	top: -20px;
}

div#game_pictures img {
	margin-left: 14px;
	display: block;
	margin-top: 80px;
}

div#game_content {
	float: left;
	width: 400px;
	margin-left: 50px;
	margin-top: -20px;
}

p.description {
	color: #302616;
	font-size: 22px;
	font-family: Copse, verdana, sans-serif;;
	margin-top: -5px;
	margin-bottom: 5px;
}

div#team>img {
	display: block;
	position: relative;
	top: 20px;
}

div.team_member {
	float: left;
	width: 310px;
}

div.team_member img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.team_member h6 {
	text-align: center;
	font-family: Copse;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 6px;
}

div.title {
	background-image:
		url('http://www.molecube.ca/img/team/title_ribbon_normal.png');
	background-repeat: no-repeat;
	padding-top: 8px;
	width: 113px;
	text-align: center;
	height: 31px;
	font-family: Dakota, verdana, sans-serif;
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
}

div#contact_us_container {
	margin-top: 30px;
	background-image:
		url('http://www.molecube.ca/img/contactus_background.png');
	background-repeat: repeat;
	width: 100%;
	height: 500px;
}

div#contact_us {
	padding-top: 30px;
	font-size: 24px;
}

div#contact_us form input {
	background-image:
		url('http://www.molecube.ca/img/form/textarea_background.png');
	border: 0;
	font-family: Copse, verdana, sans-serif;
	font-size: 24px;
	color: #2f2515;
	padding-left: 10px;
	width: 380px;
	height: 47px;
	display: block;
	margin: 8px;
}

div#form {
	float: left;
	width: 385px;
	text-align: right;
}

div#contact_us form textarea {
	background-image:
		url('http://www.molecube.ca/img/form/textarea_background.png');
	border: 0;
	font-family: Copse, verdana, sans-serif;
	font-size: 24px;
	color: #2f2515;
	padding-left: 10px;
	width: 380px;
	height: 180px;
	display: block;
	margin: 8px;
}

div#contact_text {
	color: #2f2515;
	float: left;
	margin-left: 30px;
	width: 520px;
	font-family: Copse, verdana, sans-serif;
}

div#contact_text p {
	margin: 5px 0 0;
	padding: 0;
}

div#contact_text ul {
	list-style-type: none;
	padding: 0;
}

html[xmlns] .clearfix, div#contact_us>img {
	display: block;
}

div#container, div#contact_us {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

div#team {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#sent_stamp {
	display: none;
	position: absolute;
	left: 250px;
	top: -15px;
}

a#submitButton {
	cursor: pointer;
}